<launch>

	<arg name="propulsion_mode_index" default="0"/>
	<arg name="motor_propulsion_scalar" default="1.0"/>

	<node name="nautonomous_propulsion_publisher" pkg="nautonomous_propulsion_publisher" type="differential_test_publisher_node" output="screen">

		<param name="propulsion_mode_index" type="int" value="$(arg propulsion_mode_index)"/>
		<param name="motor_propulsion_scalar" type="double" value="$(arg motor_propulsion_scalar)"/>
		
	</node>

</launch>